
/*/ Linear gradient for splash page: /*/
.GradientBackground{
background: linear-gradient(-180deg, #D2F0FF 0%, #3389D7 74%, #293255 100%);
height: 100vh;

}

/*/ Discover button: /*/
.WhiteButton{
font-family: HelveticaNeue;
font-size: 20px;
color: #FFFFFF;
border: 2px solid #FFFFFF;
border-radius: 100px;
background-color: transparent;
}

.GbuttonH{
  font-size: 52px;
}

.Gbutton {
  padding: 15px 25px;
  font-size: 26px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 50%;
  box-shadow: 0 9px #999;
  white-space: normal;
  transition: 0.5s;
  display: block;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.messageform{
  height: 200px;
  width: 500px;
}


.txtbxform{
  height: 50px;
  width: 500px;
}

.typed-cursor {
font-size: 40px;
color: rgb(40, 78, 255);
}

.transparent-style{
opacity: 0;
}
