
.GbuttonH{
  font-size: 52px;
}

.Gbutton {
  padding: 15px 25px;
  font-size: 26px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  white-space: normal;
  transition: 0.5s;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.messageform{
  height: 200px;
  width: 500px;
}


.txtbxform{
  height: 50px;
  width: 500px;
}

.typed-cursor {
font-size: 40px;
color: rgb(40, 78, 255);
}
