/*
GENERAL
*/
:root {
  --calendar-border: rgb(220,220,255);
  --calendar-fade-color: rgb(220, 220, 220);
  --has-tours: rgba(176, 255, 176, 1);
}

body {
  font-family: 'Roboto', sans-serif;
}

/*
CALENDAR
*/
#calendar-instructions {
  width: 70%;
  margin: 3em auto;
  text-align: center;
}

#btnNext {
  float:left;
  margin-bottom:0px;
}

#btnPrev {
  float:right;
  margin-bottom:20px;
}

table {
  clear: both;
  margin: auto;
  width: 70%;
  border-radius: 3px;
  border-collapse: collapse;
}

td {
  height: 48px;
  text-align: center;
  vertical-align: middle;
  border-right: 0px solid var(--calendar-border);
  border-top: 1px solid var(--calendar-border);
  width: 100% / 7;
}

td a {
  text-decoration: none;
  color: black;
}

td.hasTours {
  background: radial-gradient(
    circle,
    var(--has-tours) 45%,
    transparent 50%
    )
}

td.not-current {
  color: var(--calendar-fade-color);
}

thead td {
  border:none;
  color:@calendar-standout;
  text-transform:uppercase;
  font-size:1.8em;
}
